openapi: 3.0.1
info:
  title: UNECE Recommendation 20 - Codes for Units of Measure Used in International Trade
  description: |
    Recommendation 20 Provides three character alphabetic and alphanumeric codes for representing units of measurement for length, area, volume/capacity, mass (weight), time, and other quantities used in international trade. The codes are intended for use in manual and/or automated systems for the exchange of information between participants in international trade.Facilitates use of Recommendation 20. The code list is presented in three separate annexes.

    Annex I – Code elements listed by quantity category;

    Annex II – Code elements listed by unit of measure name;

    Annex III – Code elements listed by common code;
  contact:
    name: UNECE Recommendations
    url: https://www.unece.org/tradewelcome/un-centre-for-trade-facilitation-and-e-business-uncefact/outputs/cefactrecommendationsrec-index/code-list-recommendations.html
  version: "3.0.1-oas3"
servers:
- url: "https://codelists.api.edi3.org/recommendation-20"
paths:
  /unitsOfMeasure/{commonCode}:
    get:
      tags:
      - unitsOfMeasure
      summary: get a unit of measure from a code as defined in rec 20
      description: "This api returns the details of a single unit of measure"
      parameters:
      - name: commonCode
        in: path
        required: true
        schema: 
          type: string
        description: |
          This is the recommended single list of standard codes which is based on the following conventions.
          
          The representation format for the code values shall be alphanumeric variable length 3 characters (an..3); wherever possible, existing code values are retained according to the following order of precedence for assigning values
          
            - (a) alphabetic code values for units of measure as in UN/ECE
                Recommendation No. 20, edition 1985;
                
            - (b) alphanumeric code values for units of measure as in ANSI ASC X12 data
              element number 355;
      responses:
        200:
          description: Successfull operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnitOfMeasure'
              example:
              - commonCode: 10
                name: group
                description: A unit of count defining the number of groups (group; set of items classified together).
                category: 3.9
        400:
          description: ' Bad request - Issue with parameter'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                identifier: a710a2af-4f0d-458b-8792-23fe4f736d9d
                error: pagesize needs to be between 1 and 1000.
        404:
          description: No data found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                identifier: b1f1fef1-59ad-4978-bed8-3ff96d6d3587
                error: No units of measure found
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                identifier: 0407936e-d2ad-41e9-99e2-05a5919c3075
                error: An unexpected exception occured
  /unitsOfMeasure:
    get:
      tags:
      - unitsOfMeasure
      summary: Search for units of measure as defined in rec 20
      description: This api will return a (paged) list of units of measure codes
      parameters:
      - name: name
        in: query
        description: "The name of the unit of measure"
        schema:
          type: string
      - name: description
        in: query
        description: "A plain text specification of the named unit of measure"
        schema:
          type: string
      - name: level
        in: query
        description: |
          Identification of the normative or informative relevance of the unit (Level / Category).

          - Level 1 - normative = SI normative units, standard and commonly used multiples
        
                NOTE: standard multiples are identified with "S" and commonly used multiples with "M"
                e.g. "1 metre", "1S centimetre", "1M hectometre").
              
          - Level 2 – normative equivalent = SI normative equivalent units (UK, US, etc.) and
          commonly used multiples.
          
          - Level 3 – informative = 9 categories of informative units (units of count and other
          miscellaneous units), invariably with no comprehensive conversion factor to SI.
          These units are provided for information and to facilitate the assignment and usage of
          a common code value to represent such units.
            - 3.1 Qualified base units from levels 1 and 2
            - 3.2 Sales units
            - 3.3 Packing units
            - 3.4 Shipping and transportation units
            - 3.5 Industry specific units (various)
            - 3.6 Information technology units
            - 3.7 Integers/Numbers/Ratios
            - 3.8 Multiples/Fractions/Decimals
            - 3.9 Miscellaneous
        schema:
          type: string
      - name: range  
        description: Pagination parameter. default 0-49. Maximum rows to return 50
        required: false
        in: header
        schema:
            type: string
      responses:
        200:
          description: Successful Operation
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/UnitOfMeasure'
                type: array
        206:
          description: Successful Operation but partial content
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/UnitOfMeasure'
                type: array
        400:
          description: ' Bad request - Issue with parameter'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                identifier: a710a2af-4f0d-458b-8792-23fe4f736d9d
                error: pagesize needs to be between 1 and 1000.
        404:
          description: No data found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                identifier: b1f1fef1-59ad-4978-bed8-3ff96d6d3587
                error: No units of measure found
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                identifier: 0407936e-d2ad-41e9-99e2-05a5919c3075
                error: An unexpected exception occured
components:
  schemas:
    Error:
      type: object
      properties:
        identifier:
          type: string
        error:
          type: string
    UnitOfMeasure:
      type: object
      properties:
        commonCode:
          description: |
            This is the recommended single list of standard codes which is based on the following conventions.
          
            The representation format for the code values shall be alphanumeric variable length 3 characters (an..3); wherever possible, existing code values are retained according to the following order of precedence for assigning values
          
            - (a) alphabetic code values for units of measure as in UN/ECE
                Recommendation No. 20, edition 1985;
                
            - (b) alphanumeric code values for units of measure as in ANSI ASC X12 data
              element number 355;
          type: string
        name:
          description: "The name of the unit of measure"
          type: string
        description:
          description: "A plain text specification of the named unit of measure"
          type: string
        level:
          description: |
            Identification of the normative or informative relevance of the unit (Level / Category).
  
            - Level 1 - normative = SI normative units, standard and commonly used multiples
          
                  NOTE: standard multiples are identified with "S" and commonly used multiples with "M"
                  e.g. "1 metre", "1S centimetre", "1M hectometre").
                
            - Level 2 – normative equivalent = SI normative equivalent units (UK, US, etc.) and
            commonly used multiples.
            
            - Level 3 – informative = 9 categories of informative units (units of count and other
            miscellaneous units), invariably with no comprehensive conversion factor to SI.
            These units are provided for information and to facilitate the assignment and usage of
            a common code value to represent such units.
              - 3.1 Qualified base units from levels 1 and 2
              - 3.2 Sales units
              - 3.3 Packing units
              - 3.4 Shipping and transportation units
              - 3.5 Industry specific units (various)
              - 3.6 Information technology units
              - 3.7 Integers/Numbers/Ratios
              - 3.8 Multiples/Fractions/Decimals
              - 3.9 Miscellaneous
          type: string
        sector:
          description: "Name of the sector in plain english"
          type: string
        symbol:
          description: "The symbol used to represent the unit of measure as in ISO 31 / 80000."
          type: string
        conversionFactor:
          description: "Conversion factor to SI"
          type: string
        quantity:
          description: |
            The name of the physical phenomenon being measured.
            
            - (a) In levels 1 and 2 (SI or SI equivalent), the phenomena pertaining to a certain
            category are listed under a heading giving the name of the relevant part in ISO 31;
            - (b) In level 3 they are broken down into the 9 categories as defined below under
            level/catgory.
          type: string
        status:
          description: |
            An indication of the maintenance status of individual units of measure
              - a plus sign (+) Added. New unit added in this release of the code list
              - a hash sign (#) Changed name. Changes to the unit name in this release of the
              code list
              - a vertical bar (¦) Changed characteristic(s). Changes other than to the unit name in
              this release of the code list, e.g. a change to the level/category
              - a letter D (D) Deprecated. Units not recommended for use by the Bureau
              International des Poids et Mesures (BIPM)
              - a letter X (X) Marked as deleted. Units marked as deleted will be retained
              indefinitely in the code lists. When appropriate, these units may subsequently be
              reinstated via the maintenance process
              - an equals sign (=) Reinstated. Units previously marked as deleted and reinstated
              in this release of the code list
          type: string
      